@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h1>Acerca de Suri</h1>
    </div>
    <div class="col-md-6">
        <h1>Historia de Suri</h1>
    </div>
</div>
